html,
body {
	margin: 0;
	padding: 0;
	margin-top:10px;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	color: inherit;
	-webkit-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #f0f4f5;
	color: #4d4d4d;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	overflow-y: scroll;
}
/* fallback */
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: local('Material Icons'), local('MaterialIcons-Regular'), url('../fonts/materialicons.woff2') format('woff2');
}

button,
input[type="checkbox"] {
  outline: none;
}
.input-field {
	position: relative;
	margin-top: 2em;
}
.input-field label {
	color: rgba(0,0,0,0.3);
	position: absolute;
	top: 0.8rem;
	left: 0;
	font-size: 16px;
	cursor: text;
	-webkit-transition: .2s ease-out;
	-moz-transition: .2s ease-out;
	-o-transition: .2s ease-out;
	-ms-transition: .2s ease-out;
	transition: .2s ease-out;
}
.input-field label.active {
	font-size: 1.5rem;
	-webkit-transform: translateY(-140%);
	-moz-transform: translateY(-140%);
	-ms-transform: translateY(-140%);
	-o-transform: translateY(-140%);
	transform: translateY(-100%);
}
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}

.chip {
	display: inline-block;
	height: 32px;
	font-size: 13px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.6);
	line-height: 32px;
	padding: 0 12px;
	border-radius: 16px;
	background-color: #e4e4e4;
	margin-top : 4%;
}

.chip img {
	float: left;
	margin: 0 8px 0 -12px;
	height: 32px;
	width: 32px;
	border-radius: 50%;
}

.chip i.material-icons {
	cursor: pointer;
	float: right;
	font-size: 16px;
	line-height: 32px;
	padding-left: 8px;
}
.materialize-tags input {
	border: none;
	box-shadow: none;
	outline: 0;
	background-color: transparent;
	padding: 0;
	margin: 0;
	width: auto!important;
	max-width: inherit;
	padding-top : 10px;
	padding-bottom: 4px;
	padding-left:10px;
	min-width:200px;

}

.materialize-tags.active {
	border-bottom-color: #00BCD4;
	-webkit-box-shadow: 0 1px 0 0 #00BCD4;
	-moz-box-shadow: 0 1px 0 0 #00BCD4;
	box-shadow: 0 1px 0 0 #00BCD4;
	outline: 0;
}
.materialize-tags {
	background: 0 0;
	border-bottom: 1px solid #e0e0e0;
	display: inline-block;
	padding: 0 6px;
	margin-bottom: 10px;
	color: #444;
	vertical-align: middle;
	width: 100%;
	max-width: 100%;
	line-height: 22px;
	cursor: text;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.dock ul{
	display: inline-block;
	float: left;
	width: auto;
	margin: 0px;
	padding: 0px;
	list-style: none;
	background: rgb(80, 78, 79);
	padding-right: 20px;
}
.dock ul li {
	width: auto;
	height: auto;
	display: inline-block;
	bottom: 0;
	vertical-align: bottom;
	margin-top: -43px;
}
.dock ul li a {
	display: block;
	height: 110px;
	width: 100px;
	position: relative;
	-webkit-transition-property: width, height,margin-top;
	-webkit-transition-duration: 0.5s;
	-o-transition-property: width, height,margin-top;
	-o-transition-duration: 0.5s;
	-moz-transition-property: width, height,margin-top;
	-moz-transition-duration: 0.5s;
}
.dock ul li a:hover {
	width: 125px;
	height: 125px;
	margin-top: -30px;
}
.dock ul li a img {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	border: none;
	padding: 15px 25px 5px 35px;
}
.dock_left{
	width: 31px;
	-webkit-transform: rotate(33deg);
	-moz-transform: rotate(33deg);
	-o-transform: rotate(33deg);
	position: relative;
	background: #F0F4F5;
	overflow: hidden;
	float: left;
	height: 100px;
	z-index: 2;
	margin: -18px;
}
.dock_right{
	width: 36px;
	-webkit-transform: rotate(-33deg);
	-moz-transform: rotate(-33deg);
	-o-transform: rotate(-33deg);
	position: relative;
	background: #F0F4F5;
	overflow: hidden;
	float: left;
	height: 100px;
	z-index: 2;
	margin: -18px;
}

div.dock{
	display: inline-block;
}

/**
CommentBox Css
**/
.list-group-item p a {
	font-weight: 500;
	color: rgba(3, 161, 241, 1);
	text-decoration: underline!important;
}

.list-group-item p a:hover {
	font-weight: 500;
	color: rgba(3, 161, 241, 0.8);
	text-decoration: underline!important;
}

.card{
	border: none !important;
	background-color: #fff;
	overflow: hidden;
}

.paper {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}

details{
	background-color: #f4f4f4;
}
summary{
	outline: 0;
	cursor: pointer;
	color: rgba(0,0,0,.8);
	font-size: 14px;
}

.title{
	display: inline-block;
	margin-left: 3em;
}

.title a {
	font-size: 14px !important;
	font-weight: 500 !important;
	color: rgba(0,0,0,.8) ;
	text-decoration: none !important;
}

.title a:hover {
	color: rgba(0,0,0,.7);
}

.title time {
	font-size: 12px;
	color: rgba(0,0,0,.5)!important;
	font-weight: 400;
	margin-left: 6px;
}

.title p {
	margin-bottom: 0;
	white-space: normal;
	color: rgba(0,0,0,.8);
	font-size: 14px;
	margin-top: 0.215em;
}

.circle {
	position: absolute;
	width: 42px;
	height: 42px;
	overflow: hidden;
	left: 15px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
}

.circle img{
	width: 100%;
}


ul.actions {
	position: absolute;
	right: 1em;
	top: 1.2em;
	display: none;
	font-size: 12px;
}

ul.actions a{
	text-decoration:none !important;
	color: rgba(0,0,0, 0.6);
	font-size: 11px;
}


.list-group-item{
	background-color:transparent !important;
}
.list-group-item{
	border: none !important;
	border-radius: 0 !important;
}
.list-group-item:hover{
	background-color:rgba(0,0,0, 0.03) !important;
	border-radius: 0 !important;
}


.list-group .list-group-item ul.actions{
	display: none ;
}

.list-group .list-group-item:hover ul.actions{
	display:inherit;
	list-style: none;
}


summary::-webkit-details-marker {
	display: none;
}

summary::after {
	content: "expand_more";
	font-family: 'Material Icons';
	color:rgba(0,0,0, 1);
	float: left;
	font-size: 1.5em;
	margin: 0px 10px 0 0;
	padding: 0;
	text-align: center;
	left: 4.5em; top: 0.455em;
	position: absolute;
}

details[open] summary:after {
	color:rgba(0,0,0, 1);
	content: "expand_less";
	font-family: 'Material Icons';
}

.delete::after{

	content: "add_circle_outline";
	font-family: 'Material Icons';
	font-size:100%;
	vertical-align:bottom;

}

.roff{
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
	transform: rotate(45deg);
}


#lastComment{
	background-color: #f4f4f4;
}

form{
	padding: 1em;
}

.form-control {
	display: block;
	width: 100%;
	padding: 0.375rem 0.1rem !important;
	font-size: 14px !important;
	font-weight: 400 !important;
	line-height: 1.5 !important;
	color: #55595c !important;
	background-color: transparent !important;
	background-image: none !important;
	border: none !important;
	border-radius: 0 !important;
	border-bottom: 1px solid #ccc !important;
}

.form-control:focus{
	border-color: rgba(3, 161, 241, 1) !important;
}
